.container {
  text-align: center;
  padding: 30px 10px;
  background: #fcefcf;
  .hashtag {
    font-size: 36px;
    color: #563f1c;
    cursor: pointer;
  }
  .description {
    color: #664b22;
    margin-bottom: 30px;
    font-weight: 300;
  }
  .link {
    background-color: white;
  }
}
