.phraseContainer {
  padding: 20px 20px;
  text-align: center;
  .main, .secondary{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Helvetica Neue', sans-serif;
  }
  .avatarLeft {
    margin-right: 12px;
  }
}
