.container {
  position: relative;
  .backgroundImage {
    position: relative;
    height: calc(100vh);
    width: calc(100vw);
    overflow: hidden;
    display: flex;
    justify-content: center;

  }
  .bgImageMobile {

    height: 100vh;
    width: auto;
    max-height: 1079px;
    max-width: 1980px !important;
  }
  .bgImageDesktop {
    min-width: 100%;
    height: 100vh;
  }
  .names {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    //top: 50%;
    //bottom: 50%;
    bottom: 100px;
  }
}
