.container {
  text-align: center;
  padding: 30px 10px;
  background: linear-gradient(45deg, #0575E6, #0c426e);;
  .hashtag {
    font-size: 36px;
    cursor: pointer;
  }
  .description {
    margin-bottom: 30px;
    font-weight: 300;
  }
  .link {
    background-color: white;
  }
}
