.container {
  text-align: center;
  padding: 30px 10px;
  .hashtag {
    font-size: 32px;
    cursor: pointer;
    margin-left: 20px;
  }
  .description {
    margin-bottom: 30px;
    font-weight: 300;
  }
  .link {
    background-color: white;
    &:hover {
      background-color: lighten(#e8e8f3, 5);
    }
  }
}
