$primary-color: #c3b38f;
$primary-background: lighten(#c3b38f, 30);
$primary-color-dark: darken(#c3b38f, 10);

html,
body {
  padding: 0;
  margin: 0;
  color: #414141;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scrollDown {
  position: absolute;
  bottom: 30px;
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-shadow: none;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #1d3552;
  border-right: 4px solid #1d3552;
  z-index: 9;
  left: calc(50% - 15px);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0,-10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0,10px) rotate(45deg);
    opacity: 0;
  }
}

.btn-primary {
  cursor: pointer;
  color: #5b5342;
  background: $primary-background;
  border: transparent;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 2rem;
  &:hover {
    background: darken($primary-background, 5);
    color: $primary-color-dark;
    border-color: $primary-background;
  }
}

.btn-secondary {
  cursor: pointer;
  color: #657559;
  background: #ffffff;
  border: 1px solid white;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 2rem;
  &:hover {
    background: lighten(#6e7b62, 53);
  }
}

section.assistance {
  background-color: white;
}

footer {
  p {
    text-align: center;
    color: #000;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    margin-left: 6px;
  }
}

span.touch-gesture {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5px;
  position: absolute;
  z-index: 0;
  background-color: #d9caa9;
  transform: scale(0.8);
}

span.touch-gesture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  z-index: -1;
  animation: ripple 2s ease-out infinite;
}

span.touch-gesture::before {
  animation-delay: 0.2s;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}
